

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-family: 'Lato';
  background-color: #009900;
}
hr {
  padding-top: 1.5em;
}

footer {
  margin: 1em 0 5em;
}
h1 {
	color: lime;
}
h2 {
	color: aqua;
}
h3, h2, h1, h4, h5, h6 {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px
}
p {
	color: aqua;
	font-family: 'Permanent Marker', Arial;
	font-size: 30px;
	text-align: center;
}
h3 a {
	color: #0000CC;
}
h4 a {
	color: #FF6666;
} 
h5 a {
	color: #FF0000;
}
h6 {
	color: #0000CC;
}